@using Models
@model List<object>
<body class="text-center">
    <h1 class="display-4">Liste des ingredients en stock</h1>
    <div class="listIngredient">
        @if (((List<Stock>)Model[1]).Count() > 0)
        {
            @foreach (Stock stock in (List<Stock>)Model[1])
            {
                <div class="frame2 ingredient">
                    <div>
                        <select onchange="changeUnite(event);updateIngredient()">
                            @foreach (Ingredient ingredient in (List<Ingredient>)Model[0])
                            {
                                @if (ingredient.Id == stock.IngredientStock.Id)
                                {
                                    <option selected="selected" value="@ingredient.Id" unity="@ingredient.Type">@ingredient.Name</option>
                                }
                                else
                                {
                                    <option value="@ingredient.Id" unity="@ingredient.Type">@ingredient.Name</option>
                                }
                            }
                        </select>
                        <div><input onchange="updateIngredient()" type="number" placeholder="Qte" value="@stock.Quantity" /><p class="unity">@stock.IngredientStock.Type</p></div>
                    </div>
                    <button onclick="removeIngredient(event);updateIngredient()"><svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M10 12L14 16M14 12L10 16M4 6H20M16 6L15.7294 5.18807C15.4671 4.40125 15.3359 4.00784 15.0927 3.71698C14.8779 3.46013 14.6021 3.26132 14.2905 3.13878C13.9376 3 13.523 3 12.6936 3H11.3064C10.477 3 10.0624 3 9.70951 3.13878C9.39792 3.26132 9.12208 3.46013 8.90729 3.71698C8.66405 4.00784 8.53292 4.40125 8.27064 5.18807L8 6M18 6V16.2C18 17.8802 18 18.7202 17.673 19.362C17.3854 19.9265 16.9265 20.3854 16.362 20.673C15.7202 21 14.8802 21 13.2 21H10.8C9.11984 21 8.27976 21 7.63803 20.673C7.07354 20.3854 6.6146 19.9265 6.32698 19.362C6 18.7202 6 17.8802 6 16.2V6" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg></button>
                </div>
            }
        }
        @if (((List<Ingredient>)Model[0]).Count() > 0)
        {
            <button class="frame1 addIngredientButton" onclick="addIngredient()"> + </button>
        }
    </div>
</body>
<script src="~/js/Stock.js"></script>
@if (((List<Ingredient>)Model[0]).Count() > 0)
{
    <div id="baseIngredient" class="frame2 ingredient">
        <div>
            <select onchange="changeUnite(event);updateIngredient()">

                @foreach (Ingredient ingredient in (List<Ingredient>)Model[0])
                {
                    <option value="@ingredient.Id" unity="@ingredient.Type">@ingredient.Name</option>
                }
                }
            </select>
            <div><input onchange="updateIngredient()" type="number" placeholder="Qte" /><p class="unity">@(((List<Ingredient>)Model[0])[0].Type)</p></div>
        </div>
        <button onclick="removeIngredient(event)"><svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M10 12L14 16M14 12L10 16M4 6H20M16 6L15.7294 5.18807C15.4671 4.40125 15.3359 4.00784 15.0927 3.71698C14.8779 3.46013 14.6021 3.26132 14.2905 3.13878C13.9376 3 13.523 3 12.6936 3H11.3064C10.477 3 10.0624 3 9.70951 3.13878C9.39792 3.26132 9.12208 3.46013 8.90729 3.71698C8.66405 4.00784 8.53292 4.40125 8.27064 5.18807L8 6M18 6V16.2C18 17.8802 18 18.7202 17.673 19.362C17.3854 19.9265 16.9265 20.3854 16.362 20.673C15.7202 21 14.8802 21 13.2 21H10.8C9.11984 21 8.27976 21 7.63803 20.673C7.07354 20.3854 6.6146 19.9265 6.32698 19.362C6 18.7202 6 17.8802 6 16.2V6" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg></button>
    </div>
}
<div class="popup">
    <div class="addIngredient">
        <div><button onclick="document.querySelector('.addIngredient').style.visibility = 'hidden'">X</button></div>
        <div>
            <input type="text" placeholder="Nom de l'ingredient" />
            <select>
                @foreach (TypeQuantity typeQuantity in Enum.GetValues(typeof(TypeQuantity)))
                {
                    <option value="@((TypeQuantity) typeQuantity)">@((TypeQuantity)typeQuantity)</option>
                }
            </select>
        </div>
        <input onclick="validateNewIngredient()" type="submit" value="Valider" />
    </div>
</div>
<button onclick="document.querySelector('.addIngredient').style.visibility = 'visible'" class="addNew">
    <p>Nouvelle ingredient</p>
</button>