@using Models
@model Recipe

<body class="text-center">
    <div class="main">
        <h1>@Model.Name</h1>
        <div class="detail">
            <div class="frame2">
                <p>Durée : @Model.Time</p>
                <p>Nombre de personne : @Model.CountRecipe</p>
                <p class="price">Coût : @Model.Cost</p>
            </div>
        </div>
        <div class="recipe">
            <div>
                @foreach (Ingredient ingredient in Model.Ingredients)
                {
                    <div>
                        <p>@ingredient.Name - @(ingredient.Quantity)@ingredient.Type</p>
                    </div>
                }
            </div>
            <div>
                @foreach (Step step in Model.Steps)
                {
                    <p>
                        Étape @step.Pos : @step.Desc
                    </p>
                }
            </div>
        </div>
    </div>
</body>
