@using Models
@model List<Recipe>

<body class="text-center">
    <h1 class="display-4">Liste des recette</h1>
    <div class="selectType">
        <button onclick="showTypeRecipe('Entree')">Entrée</button>
        <button onclick="showTypeRecipe('plat')">Plat</button>
        <button onclick="showTypeRecipe('dessert')">Dessert</button>
    </div>
    <div class="list" id="Entree">
        @foreach (Recipe recipe in Model.Where(recipe => recipe.Type == "Entrée"))
        {
            <button class="recipe" onclick="location.href ='/recipe/details?id=@recipe.Id'">
                <img src="@recipe.Image" alt="Recette" />
                <div>
                    <div>
                        <p>@recipe.Name</p>
                        <p>Temps : @recipe.Time</p>
                    </div>
                    <p>@recipe.Description</p>
                </div>
            </button>
        }
    </div>
    <div class="list" id="plat" style="visibility:hidden">
        @foreach (Recipe recipe in Model.Where(recipe => recipe.Type == "Plat"))
        {
            <button class="recipe" onclick="location.href ='/recipe/details?id=@recipe.Id'">
                <img src="@recipe.Image" alt="Recette" />
                <div>
                    <div>
                        <p>@recipe.Name</p>
                        <p>Temps : @recipe.Time</p>
                    </div>
                    <p>@recipe.Description</p>
                </div>
            </button>
        }
    </div>
    <div class="list" id="dessert" style="visibility:hidden">
        @foreach (Recipe recipe in Model.Where(recipe => recipe.Type == "Dessert"))
        {
            <button class="recipe" onclick="location.href ='/recipe/details?id=@recipe.Id'">
                <img src="@recipe.Image" alt="Recette" />
                <div>
                    <div>
                        <p>@recipe.Name</p>
                        <p>Temps : @recipe.Time</p>
                    </div>
                    <p>@recipe.Description</p>
                </div>
            </button>
        }
    </div>
</body>
